version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - app_network

  api:
    image: kitos-pubsub
    container_name: kitos-pubsub
    depends_on:
      - rabbitmq
    environment:
      ASPNETCORE_ENVIRONMENT: Staging
    ports:
      - "8080:8080"
      - "8081:8081"
    networks:
      - app_network
    extra_hosts:
      - "auth.kitos.dk:10.212.74.12"

networks:
  app_network:
    driver: bridge