name: Deploy Kitos PubSub

env:
    RABBIT_MQ_USERNAME: ${{ secrets.RABBIT_MQ_USERNAME }}
    RABBIT_MQ_PASSWORD: ${{ secrets.RABBIT_MQ_PASSWORD }}
    PUBSUB_API_KEY: ${{ secrets.PUBSUB_API_KEY }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        default: 'Staging'
        options:
          - 'Development'
          - 'Staging'
          - 'Production'
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        server:
          - ${{ github.event.inputs.environment }}-pubsub-server

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build PubSub API
        working-directory: PubSub.Application/Deployment
        run: sh build.sh
      
      - name: Deploy PubSub API
        working-directory: PubSub.Application
        run: sh ./Deployment/deploy_to_docker_compose.sh ${{ github.event.inputs.environment }} ${{ env.RABBIT_MQ_USERNAME }} ${{ env.RABBIT_MQ_PASSWORD }} ${{ env.PUBSUB_API_KEY }}
        

