name: Deploy Kitos PubSub

env:
    RABBIT_MQ_USERNAME: ${{ secrets.RABBIT_MQ_USERNAME }}
    RABBIT_MQ_PASSWORD: ${{ secrets.RABBIT_MQ_PASSWORD }}
    PUBSUB_API_KEY: ${{ secrets.PUBSUB_API_KEY }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        default: 'Staging'
        options:
          - 'Development'
          - 'Staging'
          - 'Production'
  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      
      - name: Set Environment Variables 
        id: vars 
        run: | 
          if [ "${{ github.event.inputs.environment }}" == "Staging" ]; then 
            echo "SERVER=${{ secrets.SERVER_STAGING }}" >> $GITHUB_ENV 
            echo "TAG=staging" >> $GITHUB_ENV
          fi 

      - name: Build and push Docker image of PubSub API
#        working-directory: PubSub.Application/Deployment
        working-directory: PubSub.Application
        run: |
          docker build -t sawcicd@strongminds.dk/kitos-pubsub:latest .
          docker tag sawcicd@strongminds.dk/kitos-pubsub:latest sawcicd@strongminds.dk/kitos-pubsub:${{ env.TAG }} 
          docker push sawcicd@strongminds.dk/kitos-pubsub:latest 
          docker push sawcicd@strongminds.dk/kitos-pubsub:${{ env.TAG }} 
      #sh build.sh
      
      # - name: Deploy PubSub API
      #   working-directory: PubSub.Application
      #   run: sh ./Deployment/deploy_to_docker_compose.sh ${{ github.event.inputs.environment }} ${{ env.RABBIT_MQ_USERNAME }} ${{ env.RABBIT_MQ_PASSWORD }} ${{ env.PUBSUB_API_KEY }}
        

